*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
 
.center-container{
    max-width: 1000px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b298dc;
}

nav a{
    text-decoration: none;
    color: #000000;
}

.nav-right{
    display: flex;
}

.nav-right a{
    padding: 30px 20px;
}

.nav-right a:hover{
    background-color: #dbcdf0;
}

nav img{
    width: 100px;
    border-radius: 10px;
    height: 90px;
    object-fit: cover;
    align-self: center;
    margin: 10px 15px;
}


header{
    text-align:center;
    background-image: url("../images/pillen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:300px;
    display:flex;
    align-items: center;
    justify-content:center;
    color:white;
    font-size: 4rem;
}

main{
    background-color: #dbcdf0;
}

h1{
    padding:0px;
    margin:0;
}

.introduction{
    display:block;
    text-align:center;
    
}
.border{
    margin:20px;
    border:solid 3px #a681e3;
    border-radius: 10px;
    padding:20px;
}

.introduction p{
    font-size:1.25rem;
}

.introduction h2{
    font-size: 2.5rem;
    margin:20px;
}

article{
    display:flex;
    gap:20px;
    padding:20px 0; 
}

article img{
    width: 100%;
}

.left{
    width:50%;
    flex:1;
}

.right{
    flex:2;
}

footer nav img{
    margin: 0;
}

footer a:hover{
    text-decoration: underline;
}

.left-foot{
    display: flex;
}

.left-foot a{
    padding: 10px 10px;
}

.right-foot{
    display: flex;
}

.right-foot a{
    padding: 30px 20px;
}

@media (max-width: 400px){
    .nav-right{
        flex-direction: column;
    }
    .nav-right a{
        padding: 10px 20px;
    }
}

@media (max-width: 470px){
    header{
       font-size:2rem;
    }

    .functions{
        padding:0 20px;
    }
    
}

@media (max-width: 616px){
    footer .right-foot{
        flex-direction: column;
    }
    footer .right-foot a{
        padding: 10px 20px;
    }

}
