*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
 
.center-container{
    max-width: 1000px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b298dc;
}

nav a{
    text-decoration: none;
    padding: 30px 20px;
    color: #000000;
}

.nav-right a:hover{
    background-color: #dbcdf0;
}

nav img{
    width: 100px;
    border-radius: 10px;
    height: 90px;
    object-fit: cover;
    align-self: center;
    margin: 10px 15px;
}

header{
    text-align:center;
    background-image: url("../images/pillen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:300px;
    display:flex;
    align-items: center;
    justify-content:center;
    color:white;
    font-size: 4rem;
}

main{
    background-color: #dbcdf0;
}

h1{
    padding:0px;
    margin:0;
}

.introduction{
    display:block;
    text-align:center;
    
}
.border{
    margin:20px;
    border:solid 3px #a681e3;
    border-radius: 10px;
    padding:20px;
}
.introduction p{
    font-size:1.25rem;
}
.introduction h2{
    font-size: 2.5rem;
    margin:20px;
}

article{
    display:flex;
    gap:20px;
    padding:20px 0;
}

article img{
    height: 250px;
}

footer{
    background-color: #2d2041;
    
}


footer a:hover{
    text-decoration: underline;
}